@model IEnumerable<CrudFortesCore.Models.Fornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFornecedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFornecedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFornecedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
